@charset "utf-8";
/* @font-face DOES NOT WORK WITH ABSOLUTE PATHS
@font-face {
    font-family: Hand of Sean;
    src: url(/resource/fonts/handsean-webfont.eot);
    src: url(/resource/fonts/handsean-webfont.eot?#iefix) format('embedded-opentype'),
         url(http://www.yourmembership.com/resource/fonts/handsean-webfont.woff) format('woff'),
         url(http://www.yourmembership.com/resource/fonts/handsean-webfont.ttf) format('truetype'),
         url(http://www.yourmembership.com/resource/fonts/handsean-webfont.svg#hand_of_seanregular) format('svg')!important;
    font-weight: normal;
    font-style: normal;

}
*/
/* Begin page styling */

body {
    background: url('/resource/graphics/ym-breakroom.jpg') 50% 0 fixed;
    background-size:cover;
}

    body#hrsub {
        background: transparent!important;
    }

#career-section { margin-top:100px; background-image: url(http://www.yourmembership.com/resource/graphics/careers/1A.jpg); background-attachment:fixed; padding:30px 0; }
#career-wrapper {padding:30px 50px!important; height:auto!important;}

#career-wrap h2 {margin:0; text-align:center; font-size:48px; text-transform:uppercase; color:#A8AD00; font-weight:normal; padding: 10px 0; width:90%; margin: 0 auto;}

#career-wrapper {background: #fff; display:block; border-radius: 0;  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.47); margin: 0 auto; width:80%; max-width:800px; min-width:500px; height:630px; position:relative; top:14%;}
.careers ul, .careers li {list-style:none; margin:0; padding:0;}
.careers ul {padding: 0 17px; height:auto; overflow-x:hidden; overflow-y:auto; width:95%; float:none!important;}
.careers li {padding: 25px 10px; display:block; border-bottom:1px dotted #ddd; -webkit-transition: all .25s ease-out 0.1s;
	    -moz-transition: all .25s ease-out 0.1s;
	    -o-transition: all .25s ease-out 0.1s;
	    -ms-transition: all .25s ease-out 0.1s;
	    transition: all .25s ease-out 0.1s;}
.careers li h5 {color:#ff9436; font-size:17px; margin:0; width:100%; float:left;}
.careers li p {color:#b0b0b0; font-size:15px; margin:0; line-height:1.5em; width:35%; float:right;}
.careers li.last {border-bottom:none;}
.careers li.featured { background: url(http://www.yourmembership.com/resource/graphics/careers/featured-career.png) no-repeat 95% center; }

.careers a {
}

.careers li.header { color:#ccc; font-weight:normal; text-transform:none; font-size:20px; padding: 15px 10px; cursor:default; }
.careers li.header:hover {  background: transparent!important; }

.careers li:hover {background: #f1f1f1;}
.careers li:hover h5 { color:#898989; }
.careers li.featured:hover {background: #f1f1f1 url(http://www.yourmembership.com/resource/graphics/careers/featured-career-over.png) no-repeat 95% center;}
#career-wrapper .down {margin: 0 auto; position:relative; bottom:20px;}

#career-wrap .HRSOFT_Body {
    background: rgba(255, 255, 255, 0.9);
    padding:30px 30px 50px;
    margin-bottom:150px;
}


td.TableRow1 {
    background-color: #fff;
}

.careers td, .careers th {
    padding: 0.8em;
}

    .careers th a {
        color:#666!important;
    }
        .careers th a:hover {
            color:#999!important;
        }

#job-wrapper { padding-top:30px; }

#careers {
    margin-top:111px;
}

footer {
    padding-top:0;
}

.block h3 { color:#5691AB; }
.block li { color:#898989; font-size:14px; line-height:1.65em; padding: 5px 0; }
.WSTM_JobDescDiv li { list-style: url('//www.yourmembership.com/resource/graphics/bullet.png'); padding: 10px 5px; }

/* About adjustments*/
#about-wrapper .content {width:35%; float:left; margin-left:5%; position:relative; top:150px;}
#about-wrapper h2 {padding:150px 0 50px 0; font-size:50px; text-transform:normal; color:#898989; font-weight:normal;}
#about-wrapper .content p {color:#898989; font-size:18px; line-height:1.5em;}
#about-wrapper .elements {width:40%; float:right; margin-right:100px; margin-top:50px;}

/* Copyright adjustments */
#copyright #call-us { background: url("//www.yourmembership.com/resource/graphics/icon-phone-sprite.png") no-repeat scroll left top rgba(0, 0, 0, 0); }
#copyright #call-us:hover { background: url("//www.yourmembership.com/resource/graphics/icon-phone-sprite.png") no-repeat scroll left bottom rgba(0, 0, 0, 0); }

/* Main Menu adjustments */
#main-menu #join-team { background: url("//www.yourmembership.com/resource/graphics/join-team.png") no-repeat scroll left top rgba(0, 0, 0, 0); border-bottom: medium none !important; border-radius: 0px; display: block; height: 34px; padding: 3px; position: absolute; right: 12px; width: 205px; }
#main-menu #join-team:hover { background: url("//www.yourmembership.com/resource/graphics/join-team.png") no-repeat scroll left bottom rgba(0, 0, 0, 0); }

/* Overwrite HRsoft's Styling */

#career-section a:hover, .careers a:hover { color:#999!important; }

body, input, select, textarea, p, #news-content, .WSTM_JobDescDiv li { color: #616161; font-size: 14px; font-family:'Lato', sans-serif;}

#page-title h1{
    font-family:'Lato', sans-serif;
    padding-top:5.5%;
}

.WSTM_BTN:hover {
    transition: all 0.5s ease-in-out 0s;
	background: #5B6770!important; /* Old browsers */
    border: 1px solid #5B6770!important;
	}

.PageLink a {
    border: 1px solid #C0C0C0;
    border-radius: 0px;
    color: #808080;
    padding: 2px 5px;
}

.careers a, .careers a:visited {
    color:#5B6770!important;
}

    .careers a:hover {
        color:#A8AD00!important;
    }

form a {
    text-transform:uppercase;

}

.WSTM_JT_Pages > .PageLink {
    background-color: #ff9436;
    border: 1px solid #FF9436;
    border-radius: 0px;
    color: #FFFFFF;
    padding: 2px 5px;
}

.PageLink {
    margin-top:10px;
}

.JobTableRow {
    color:#616161;
    font-size:15px;
}

    .JobTableRow td {
        border-bottom:1px solid #eee;
    }

table.careers {
    margin-bottom:25px;
}

#careersubnav {
    text-align:left;
    margin-top:10px;
}

#careersubnav a {
    padding: 0 15px;
}

.CareerMenuDiv {
    color:#ccc;
}

.SocialWidgetLabel {
    margin-right:10px;
}

.careers td, .careers th, td.TableRow1, td.TableRow2 {
    padding: 0.8em!important;
    text-align: left;
}

.WSTM_Body {
    display: table-row;
    width: 100%;
}

.page-title {
    margin-top:100px!important;
}

.page-title h1 {
    padding:10px 15px;
    display:inline-block;
    background-color:#5B6770;
    background: rgba(91,103,112,0.9);
    margin-top:2%;
}

div.WSTM_Body textarea {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding: 5px;
}

.HRsoft_New {
    padding:3px 5px;
    font-size:10px;
    border-radius:0px;
    background: #FF9436;
    color:#fff;
}

.WSTM_JobDescDiv b {
    color:#00384f;
}

#mobile-menu {
    display:none!important;
}

#careersubnav ul {
    padding: 0;
}
.centered #careersubnav li {
    list-style: none!important;
}
#careersubnav li {
    list-style:none!important;
}
#careersubnav li li {
    border-bottom: 1px solid #DFDFDF;
    padding: 10px 10px 10px 20px;
    list-style:none!important;
}
#careersubnav li.heading {
    color: #FF9436;
    list-style:none;
    text-transform:uppercase;
    font-weight:700;
    font-size: 18px;
    padding: 0;
    padding-bottom:10px;
}
#careersubnav.sub a {
    font-size: 14px;
    min-width: 200px;
    white-space: nowrap;
    padding:0;
}

#fixed-title {
    opacity:0;
    display:none;
    -webkit-transition: all .25s ease-out 0.1s;
	-moz-transition: all .25s ease-out 0.1s;
	-o-transition: all .25s ease-out 0.1s;
	-ms-transition: all .25s ease-out 0.1s;
	transition: all .25s ease-out 0.1s;
}
#fixed-title.scroll {
    position:fixed;
    display:block;
    width:100%;
    top:60px;
    height:50px;
    line-height:50px;
    margin-top:0;
    z-index:900;
    background:#5691ab;
    opacity:0.9;
    transform: none;
    -webkit-transition: all .25s ease-out .5s;
	-moz-transition: all .25s ease-out .5s;
	-o-transition: all .25s ease-out .5s;
	-ms-transition: all .25s ease-out .5s;
	transition: all .25s ease-out .5s;


}
    #fixed-title.scroll h1 {
        text-align:center;
        padding:0!important;
        font-size:20px!important;
        line-height:50px;
        width:100%;
        margin:0!important;
    }

.WSTM_BTN {
	color: #fff!important;
	border: 1px solid #002E5D!important;
	padding: 0 40px 0px!important;
    cursor:pointer!important;
	font-size: 16px;
	font-weight:bold;
	display:inline-block;
	height:46px;
	text-transform:uppercase;
    border-radius:0!important;
	text-decoration:none;
	width: auto;
	text-align: center;
	background: #002E5D!important; /* Old browsers */
}

#WSTM_Login_Btn {
    margin-right:30px!important;
}