
@charset "utf-8";
/* Mobile Layout Adjustments */

@media all and (max-width: 2000px) and (min-width: 900px) {
    
    .dropdown-menu li:hover .sub-menu {
    visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:active {
        border-color:#5B6770!important;
        -webkit-transition: all .25s ease-out 0.1s;
        -moz-transition: all .25s ease-out 0.1s;
        -o-transition: all .25s ease-out 0.1s;
        -ms-transition: all .25s ease-out 0.1s;
        transition: all .25s ease-out 0.1s;
    }
    .open > .dropdown-menu {
        display:none;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #FFFFFF;
    border-color: #fff!important;
    color: #5691AB;
}
}


/* DESKTOP VERSION
###################################################################
################################################################### 

     _________________
    |  _____________  |
    | |             | |
    | |  FULLWIDTH  | |
    | |_____________| |
    |_________________| 
            | |
          =======

###################################################################
###################################################################
*/
@media all and (max-width: 1300px) {
    .btn.mtop-22 {
        margin-top: 0;
    }
    .btn.mtop-45 {
        margin-top: 22px;
    }
    .hero h1 span {
        font-size: 30px !important;
    }
    .hero .row .col-md-11 {
        min-height: 275px;
    }
    .hero .row .col-md-11 img {
        max-height: 20px;
    }
    .hero .row .text-center p {
        font-size: 14px;
    }
}
@media all and (max-width: 1300px) and (min-width: 990px) {
    .container {
        width:970px;
    }
    .navbar .main-menu {
    float: right;
    margin-left: 125px;
    }
    .jumbotron {
    background: url(/resource/img/YMcomHeader.jpg) 50% 0 fixed;
    background-size:cover;
}
    .grid .xl p {
    font-size: 200%;
    line-height: 1.15em;
    margin-bottom: 0;
    }
    .grid .md span {
    font-size: 212%;
    margin-bottom: 30px;
    margin-right: 6px;
    margin-top: 2px;
    }
    .grid .md p {
    font-size: 95%;
    line-height: 1.05em;
    }
    .grid .lg span {
    font-size: 300%;
    }
    .grid .lg p {
    font-size: 150%;
    margin-bottom: 0;
    }
    .grid .navy-grid.lg {
        padding:2.3em;
    }
    #mktoForm_1044 .mktoFormRow {
        width:48%!important;
    }
    #mktoForm_1044 #How_Did_You_Hear_About_Us__c {
        width:500px!important;
    }
    #mktoForm_1044 select {
        width:97%!important;
    }
    #cta h3 {
        font-size:130%;
    }
    .speaking .grid .orange-grid.text-center {
        padding-left:0!important;
        padding-right:0!important;
    }
    .learning-center .zone {
        height:370px;
    }
    .jumbotron .row .col-md-11 {
        min-height:290px;
    }
    
}

/* TABLET VERSION 
###################################################################
###################################################################

     ___________
    |  _______  |
    | |       | |
    | |       | |
    | | <768  | |
    | |       | |
    | |_______| |
    |_____0_____| 
    
###################################################################
###################################################################
*/

@media all and (max-width: 991px) and (min-width: 400px) {


    .navbar .main-menu {
        margin-left:0;
    }
    .main-menu > li > a {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-brand {
        margin-left:20px;
    }
    .jumbotron .row {
        margin-top:0;
    }
    .jumbotron {
        height:auto;
    }
    .row {
        margin:0;
    }
    #request-demo {
        display:none;
    }
    #industry .floatright .hand {
        margin-top:30px;
    }

    .full-sm img {
        width:100%;
        height:auto;
    }

    .og-details h3 {
        font-size:36px!important;
        padding-top:0!important;
        margin-top:0;
    }
    .og-details h6 {
        font-size:18px!important;
    }

    .og-close {
        height:40px!important;
        width:40px!important;
        right:20px!important
    }

    .hero #main {
        margin-top:-400px;
    }

        .hero #main .col-sm-6 {
            margin-bottom:25px!important;
        }

            .hero #main .col-sm-6 .col-md-11 {
                min-height:220px;
                margin-right:4px;
            }

    .hero h1 span {
        font-size:22px!important;
        padding:25px 10px!important;
    }
    .hero .slide p span {
        font-size: 15px !important;
    }

    .jumbotron .fadeInUp {
        animation-name:none!important;
        -moz-animation-name:none!important;
        -webkit-animation-name:none!important;
    }

    .hp-content .grid .col-xs-12.sans-p {
        overflow:hidden;
    }

    .hp-content .sans-p-mobile .col-sm-12.lg {
        margin-left:15px!important;
        padding-top:3.5em!important;
        padding-bottom:3.5em!important;
    }

    #bg-image .table {
        display:block;
    }
    #bg-image .navy-grid {
        margin-right:0!important;
        margin-bottom:15px!important;
        text-align:left!important;
    }
    #bg-image .navy-grid h2 {
        margin-top:0!important;
    }

    #cta .btn {
        padding-top:25px!important;
        padding-bottom:25px!important;
        margin-top:25px;
        margin-bottom:25px;
    }

    #layouts .screenshots a {
        margin-bottom:20px;
    }

    #branding #right {
        margin-top:50px;
    }

    .jumbotron p span {
        font-size:15px!important;
        padding:15px 10px!important;
    }

    #smarter #col3 {
        clear:both;
        margin-bottom:100px;
    }

    .bxslider .slide {
        min-height:450px!important;
    }

    #bg-image .transparent-bg {
        background: none repeat scroll 0 0 rgba(250, 250, 250, 0.9);
    }

    #bg-image, .jumbotron {
        background-attachment:scroll!important;
        background-repeat:no-repeat!important;
        background-size:cover!important;
        background-position:0 0!important;
    }

    .learning-center .zone {
        height:auto;
        margin-bottom:50px;
    }

        .learning-center .zone li:last-child {
            margin-top:30px!important;
        }

    #campaign #form {
        position:relative;
        margin-top:50px;
    }

    .sans-p-mobile {
        padding:0!important;
    }
    .sans-m-mobile {
        margin:0!important;
    }
    .mbottom-15-m {
        margin-bottom:15px!important;
    }
    .mtop-15-m {
        margin-top:15px!important;
    }
    .psides-30-m {
        padding-left:30px!important;
        padding-right:30px!important;
    }
    .psides-0-m {
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .col-sm-12.mtop-25.sans-p.stop, .col-sm-12.grid.sans-p.mtop-50.stop {
        float: none!important;
    }

}
@media all and (max-width: 991px) {
    .btn.mtop-45 {
        margin-top: 0px;
    }

    .companystats p.mega {
        font-size: 85px;
        line-height: 85px;
    }
}
@media all and (max-width: 767px) {
    .hero .row .col-md-11 img {
        max-height:30px;
        width:auto;
    }
    .companystats {
        background-position: center -375px;
    }
    .companystats .col-sm-4:nth-of-type(1) {
        padding-bottom:25px;
    }
    .companystats .col-sm-4:nth-of-type(1):after {
        bottom: 0;
        top:auto;
        height: 5px;
        margin-right: -25px;
        right: 50%;
        width: 45px;
    }
    .companystats .col-sm-4:nth-of-type(2) {
        padding:25px 0;
    }
    .companystats .col-sm-4:nth-of-type(3) {
        padding-top:25px;
    }
    .companystats .col-sm-4:nth-of-type(3):after {
        top:25px;
        height: 5px;
        margin-right: -25px;
        right: 50%;
        left:auto;
        width: 45px;
    }
}
@media all and (max-width: 768px) and (min-width: 200px) {
    .bxslider .slide {
    }
    .jumbotron .slide p {
        margin-top:32px;
    }
}

/* PHONE WIDTH 
###################################################################
###################################################################
    
     _________
    |  _____  |
    | |     | |
    | |     | |
    | |<600 | |
    | |     | |
    | |_____| |
    |____0____| 

###################################################################
###################################################################        
*/
@media all and (max-width: 650px) and (min-width: 200px) {

    .navbar-brand {
        margin-left:20px;
        margin-top:15px;
        display:block;
        width:65px;
        height:65px;
        background: url('/resource/img/ym_orange_65x65.jpg') no-repeat center;
    }
    .navbar-nav > li > .dropdown-menu {
        border-radius:0;
        padding:0;
    }
    .in .main-menu .dropdown-menu a, .collapsing .main-menu .dropdown-menu a {
        line-height:50px;
        background: #eee;
        padding: 0 15px!important;
        border-color:#ccc;
    }
    #mktoForm_1139 .mktoFormRow {
        clear: both !important;
        float: none;
        width: 100%;
    }
    .dropdown .dropdown-menu {
    }

    .dropdown.open .dropdown-menu {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    }

    .hero #main {
        margin-top:0px;
        padding-top:20px;
        background: url(/resource/img/YMcomHeader.jpg) no-repeat fixed;
        background-position:center!important;
        background-size:cover!important;
    }

    .jumbotron {
        height:auto;
        background-position:center!important;
        background-size:cover!important;
    }
        .jumbotron h1 div {
            font-size:25px!important;
        }

    .page-title .inner {
        padding-top:8%;
    }
    .bx-wrapper {
        display:none;
    }
    .client-logos {
        height:auto;
    }
    .row {
        margin:0;
    }
    #request-demo {
        display:none;
    }
    #mktoForm_1044 .mktoFormRow {
        width:100%!important;
        float:none!important;
    }
    #mktoForm_1044 #How_Did_You_Hear_About_Us__c {
        width:100%!important;
        min-width:150px!important;
    }
    #mktoForm_1044 select {
        padding:0!important;
    }
    #mktoForm_1044 input {
        height:40px;
        line-height:40px;
    }
    #industry .floatright .hand {
        margin-top:30px;
    }
    .container img {
        width:100%;
        height:auto;
    }
    .og-details h3 {
        font-size:36px!important;
        padding-top:0!important;
        margin-top:0;
    }
    #campaign .img-bar h1 {
        font-size:130%;
    }
    #campaign .img-bar .container {
        background: rgba(0,0,0,0.5);
    }
    .intro h1 span {
        font-size:25px!important;
    }
    .intro .panel-body .btn {
        font-size:11px;
    }
    .intro .panel:after {
        display:none!important;
    }
    .panel .offer {
        padding-left:0!important;
        padding-top:75px!important;
        background: url('/resource/img/ym_orange_65x65.jpg') no-repeat top left!important;
    }
    .timeline .timeline-row .timeline-content h2 {
        font-size:125%!important;
    }
    .og-close {
        height:40px!important;
        width:40px!important;
        right:20px!important;
    }

     #bg-image .transparent-bg {
        background: none repeat scroll 0 0 rgba(250, 250, 250, 0.8);
    }

    #lpeCDiv_3374 .mktField, #contact-page .formcol {
        clear:both;
        width:100%;
    }

    .jumbotron .row {
        margin-top:0;
    }

    #lpeCDiv_3374 .mktLblLeft {
        padding-left:0;
        margin-top:50px;
    }
    #campaign #form {
        position:relative;
        margin-top:50px;
        padding-left:20px;
        padding-right:20px;
    }
    #campaign #form label {
            width:100%!important;
        } 
    #bg-image {
        background-attachment:scroll!important;
        background-repeat:no-repeat!important;
        background-size:cover!important;
        background-position:0 0!important;
    }

        #bg-image .table {
            display:inline-block;
        }
            #bg-image .table .navy-grid h2 {
                margin-top:0;
            }

            #bg-image .table .navy-grid {
                margin-right:0!important;
                margin-bottom:15px!important;
            }
    #download .btn {
        margin-top:30px;
    }

    .learning-center .zone {
        height:auto;
        margin-bottom:50px;
    }

        .learning-center .zone .last {
          margin-bottom:25px!important;
        }

    .entry-content .pdf, .entry-content .trend {
        font-size:16px;
    }

    .sans-mtop-mobile {
        margin-top:0!important;
    }
    .sans-p-mobile {
        padding:0!important;
    }
    .sans-m-mobile {
        margin:0!important;
    }
    .mbottom-15-m {
        margin-bottom:15px!important;
    }
    .mtop-15-m {
        margin-top:15px!important;
    }
    .psides-30-m {
        padding-left:30px!important;
        padding-right:30px!important;
    }
    .psides-0-m {
        padding-left:0px!important;
        padding-right:0px!important;
    }

    #cta p {
        font-size:180%;
    }

    footer .social {
        text-align:left!important;
        padding-bottom:30px;
    }

}
