fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
  background-color: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: 0;
  padding: 5px;
  transition: border-color 150ms;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $green-bright;
    outline: none;
  }

  &:disabled {
    background-color: shade($white, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 5px;
}

[type="file"] {
  margin-bottom: 10px;
  width: 100%;
}

select {
  margin-bottom: 0;
  max-width: 100%;
  width: auto;
}

