.events-grid {


	 > .wrap {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include bp(600px) {
			flex-direction: row;
			generate-grid: columns(1/2 1/2);
		}

		@include bp(1000px) {
			flex-direction: row;
			generate-grid: columns(1/3 1/3 1/3);
		}

		@include bp(wide) {
			generate-grid: columns(1/4 1/4 1/4 1/4);
		}
	}

	.event {
		background-color: $white;
		margin-bottom: rem(30);
		max-width: rem(300);

		&:hover {
			box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06);
			transition: all 0.3s ease-out;
		}

		.resource-wrap {
			padding: 0;

			@include padding(rem(30) rem(20));
		}

		.title {
			margin-bottom: rem(10);

			> a {
				font-size: rem(22);
				color: $slate-dark;
				letter-spacing: -0.46px;
				line-height: 28px;
			}
		}

		.booth-number,
		.event-format {
			font-size: rem(12);
			color: $green1;
			letter-spacing: -0.32px;
			margin-bottom: rem(10);
		}

		.event-format {
			margin-bottom: rem(60);
			margin-top: 1rem;
		}

		.entry-meta {
			margin-bottom: rem(60);

			a {
				&:hover {
					color: $teal1;
				}
			}
		}

		.entry-content {
			margin-bottom: rem(30);
			font-size: rem(14);
			line-height: 22px;
		}

		.event-date,
		.event-location {
			align-items: center;
			display: flex;
			font-size: rem(15);
			line-height: 23px;

			span {
				margin-right: 1em;
			}
		}

		.event-date {
			margin-bottom: rem(10);

			a {
				color: $slate-dark;
			}
		}

		.event-location {
			margin-bottom: 0;

			span {
				margin-right: 1.25em;
			}

			a {
				color: $slate-dark;
			}
		}

		.learn-more-wrap {
			@include padding(1.875rem 1.25rem 1.25rem 1.875rem);

			p {
				margin-bottom: 0;
				text-align: right;
			}
		}

		&:hover {
			.arrow-link > svg {
				transform: translateX(5px);
				transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s;
			}
		}
	}
}

