body.contact-us {
	.hero {
		@include padding(em(60) null em(150));
		background-repeat: no-repeat;
		color: $white;
		min-height: em(300);

		> .wrap {
			@include padding(0);
			lost-center: 100%;
			justify-content: center;

			@include bp(wide) {
				lost-center: 1200px;
				justify-content: flex-start;
			}
		}

		.hero-content {
			@include bp(wide) {
				lost-column: 5/12;
			}

			h1 {
				color: $white;
				font-size: em(48);
				margin-bottom: em(20);
			}

			h6 {
				margin-bottom: em(15);

				> a {
					color: $white;
					font-size: em(20);
				}
			}

			img {
				margin-right: 1em;
			}
		}
	}

	.content {
		lost-flex-container: column;

		@include bp(large) {
			lost-flex-container: row;
		}

		@include bp(wide) {
			lost-column: none;
			flex-wrap: nowrap;
		}
	}

	.entry {
		@include bp(wide) {
			lost-column: 6/12;
		}
	}

	.signup-form {
		padding-bottom: em(200);
		margin-left: 0 !important;
		lost-column: 12/12;
		lost-offset: 0;

		@include bp(med wide) {
			lost-column: 8/12;
			lost-offset: -2/12;
		}

		@include bp(wide) {
			lost-column: 5/12;
			lost-offset: 0;
			margin-right: 0 !important;
		}

		.gform_wrapper {
			max-width: rem(500);

			form {
				@include padding(em(70) em(20));
				@include margin(0);
				max-width: none;

				@include bp(small) {
					@include padding(em(70) em(50));
				}
			}
		}
	}





	.entry-content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		.need-support {
			@include margin(em(40) null em(60));

			h3 {
				margin-bottom: em(30);
			}

			.button {
				margin-left: 0;
			}
		}
	}

	.locations {
		@include padding(rem(60) 0);
		display: flex;
		flex-wrap: wrap;

		header {
			@include margin(em(40) null);

			h2 {
				font-size: em(24);
			}
		}

		address {
			font-style: normal;
			margin-bottom: em(60);
			width: 100%;

			@include bp(500px) {
				width: 50%;
			}

			img {
				margin-bottom: rem(20);
			}

			.location-name {
				margin-bottom: rem(5);
			}

			p {
				margin-bottom: 0;
			}

			a {
				color: $slate-dark;
			}
		}
	}

}
