/* Set all parents to full height */
html, body, form, 
.container.full,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

.container.full {
    width:100%;
    height:100%;
}

.cbp-wrapper {

}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 80px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 18px;
	height: 18px;
	outline: none;
	margin: 20px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
        padding-bottom: 140px;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

span.hidden {
    display:none;
}

span span {
    background: transparent!important;
    padding:0!important;
}

span.larger {
    margin:10px 0!important;
    font-weight:bold;
}

section .container {
    max-width:1200px;
    margin: 0 auto;
    padding-top:15%;
}

section.active .container {
    margin-bottom:0;
    opacity:0;
}

section.now .container {
    -webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

section .container span {
    display:inline-block;
    width:auto;
}

section .container .blue span {
    background: rgba(91,103,112,0.9);
    padding:20px 30px 30px;
    color:#fff;
    max-width:1000px;
    margin: 0 auto;
}

section .container .orange span {
    background: rgba(168,173,0,0.9);
    padding:30px 30px 30px;
    color:#fff;
    max-width:800px;
    margin: 0 auto;
}

section .next {
    displaY:inline-block;
    padding: 20px 30px;
    border:2px solid #fff;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    transition:.5s all;
    displaY:none;
}

section:after {
    content:" ";
    display:table;
    clear:both;
}

section .next:hover {
    background-color:#2e4267;
    border-color:#2e4267;
}

.btn:hover {
    color:#fff!important;
}

section .container.highest {
    padding-top:6%;
}

section .container.higher {
    padding-top:10%;
}

section .container.lower {
    padding-top:20%;
}

section .container .half {
    width:50%;
}

section .container .right {
    float:right;
}

section .container h1 {
    font-size:200%;
}

section .orange a {
    color:#fff;
}

    section .orange a:hover {
        color:#2e4267;
    }

section .container p {
    font-size:100%;
}

#fbsection1 {
	background: url(../images/scrolllayout/intro.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

   /* #fbsection1 .container {
        -webkit-animation-name: fadeInUp;
	    -moz-animation-name: fadeInUp;
	    -o-animation-name: fadeInUp;
	    animation-name: fadeInUp;
    }
    */
#fbsection2 {
	background: url(../images/scrolllayout/1.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection3 {
	background: url(../images/scrolllayout/2.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection4 {
	background: url(../images/scrolllayout/3.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection5 {
	background: url(../images/scrolllayout/4.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection6 {
	background: url(../images/scrolllayout/5.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection7 {
	background: url(../images/scrolllayout/6.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection8 {
	background: url(../images/scrolllayout/7.jpg) 50% 0;
    background-attachment:fixed;
    background-size:cover;
}

#fbsection9 {
	background: url(../images/scrolllayout/8.jpg) 50% 0 fixed;
    background-size:cover;
}

#fbsection10 {
	background: url(../images/scrolllayout/9.jpg) 50% 0 fixed;
    background-size:cover;
}

#fbsection11 {
	background: url(../images/scrolllayout/10.jpg) 50% 0 fixed;
    background-size:cover;
}

#fbsection12 {
	background: url(../images/scrolllayout/11.jpg) 50% 0 fixed;
    background-size:cover;
}

#fbsection13 {
	background: url(../images/scrolllayout/end.jpg) 50% 0 fixed;
    background-size:cover;
}

footer {
    display:none;
}


@media all and (max-width: 1300px) and (min-width: 601px) {
   section .container .half {width:60%;} 
   .cbp-fbscroller > nav {right:30px; top:55%!important;}
    section .container {padding-right:70px;}
    section .container.highest,
    section .container.higher {padding-top:15%;}
    section.now .container {
    -webkit-animation-name: none!important;
	-moz-animation-name: none!important;
	-o-animation-name: none!important;
	animation-name: none!important;
    }
    section.active .container {
    opacity:1!important;
    }
    section {
        /*background-attachment: scroll!important;*/
    }
}

@media all and (max-width: 600px) and (min-width: 300px) {
    section .container {padding-top:100px!important; padding-bottom:100px;}
    section h1 {font-size:140%!important;}
    section p {font-size:80%!important;}
   section .container .half {width:100%;}
    section .container .right {float:none;}
   .cbp-fbscroller > nav {right:20px; display:none;}
    section .container {padding-right:70px;}
    html, body, form, .container.full, .cbp-fbscroller, .cbp-fbscroller section {
        height:auto;
    }
    section.active .container {
        margin-bottom:0;
    }
    #fbsection1 .container {
        animation:none;
    }
    section.active .container {
    opacity:1;
}

section.now .container {
    -webkit-animation-name: none;
	-moz-animation-name: none;
	-o-animation-name: none;
	animation-name: none;
}
}

