.entry-title {
	@include margin(rem(20px) null);
}


.cpt-pagination {
	@include margin(em($gutter *2) null em($gutter * 4));
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	a {
		font-size: em(11px);
		color: $slate-dark;
		text-transform: uppercase;

		&:last-child {
			margin-left: em(40);
		}
	}
}
