/* ## Widgets
----------------------------- */
.widget {
	margin-bottom: 40px;
	word-wrap: break-word;

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}

}

.widget-title {
	@include font-size(16);
	color: $slate-dark;
	font-weight: 700;
	margin-bottom: em(20);

	a {
		color: #333;
		text-decoration: none;
	}
}


.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}


.widget_calendar {
	table {
		width: 100%;
	}

	td,
	th {
		text-align: center;
	}
}






@import "ad-widget";
@import "resource-links";
