// Button Color Variations
.btn-green {
	background-color: $green-main;

	&:hover,
	&:focus {
		background-color: shade($green-main, 15%);
		box-shadow: none;
	}
}

.btn-teal {
	background-color: $teal1;
	border-color: $teal1;

	&:hover,
	&:focus {
		background-color: shade($teal1, 15%);
		border-color: shade($teal1, 15%);
		box-shadow: none;
	}
}

.btn-slate {
	background-color: $slate-dark;
	border-color: $slate-dark;

	&:hover,
	&:focus {
		background-color: shade($slate-dark, 15%);
		border-color: shade($slate-dark, 15%);
		box-shadow: none;
	}
}

.btn-white {
	background-color: $white;
	border-color: $white;
	color: $slate-dark;

	&:hover,
	&:focus {
		background-color: $grey4;
		border-color: transparent;
		box-shadow: none;
		color: $slate-dark;
	}
}

.btn-sec-green {
	background-color: transparent;
	border: 1px solid $green-main;
	box-shadow: none;
	color: $green-main;

	&:hover,
	&:focus {
		background-color: $green-main;
		border: 1px solid $green-main;
		box-shadow: none;
		color: $white;
	}
}

.btn-sec-teal {
	background-color: transparent;
	border: 1px solid $teal1;
	box-shadow: none;
	color: $teal1;

	&:hover,
	&:focus {
		background-color: $teal1;
		border: 1px solid $teal1;
		box-shadow: none;
		color: $white;
	}
}

.btn-sec-slate {
	background-color: transparent;
	border: 1px solid $slate-dark;
	box-shadow: none;
	color: $slate-dark;

	&:hover,
	&:focus {
		background-color: $slate-dark;
		border: 1px solid $slate-dark;
		box-shadow: none;
		color: $white;
	}
}

.btn-sec-white {
	background-color: transparent;
	border: 1px solid $white;
	box-shadow: none;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		border: 1px solid $white;
		box-shadow: none;
		color: $slate-dark;
	}
}

.btn-red {
	background-color: $red1;
	border: 1px solid $red1;

	&:hover,
	&:focus {
		background-color: shade($red1, 15%);
		border-color: shade($red1, 15%);
		box-shadow: none;
	}
}

.btn-orange {
	background-color: $orange1;
	border: 1px solid $orange1;

	&:hover,
	&:focus {
		background-color: shade($orange1, 15%);
		border-color: shade($orange1, 15%);
		box-shadow: none;
	}
}


// Text Links
.green-text-link {
	color: $green1;

	&:hover,
	&:focus {
		color: $green3;

		path {
			fill: $green3;
		}
	}

	path {
		fill: $green1;
	}
}

.white-text-link {
	color: $white;

	&:hover,
	&:focus {
		color: $white;
	}

	path {
		fill: $white;
	}

}

a.arrow-text-link {
	background-color: transparent !important;
	font-size: em(14);
	font-weight: $fw-normal;

	&:hover {
		transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s;
	}
}

.arrow-link {
	display: inline-block !important;
	margin-left: 5px;

	> svg {
		width: width('dist/images/green-arrow@2x.png', 2);
		height: height('dist/images/green-arrow@2x.png', 2);
		background-size: size('dist/images/green-arrow@2x.png', 2);

		.arrow-text-link:hover & {
			transform: translateX(5px);
			transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s;
		}
	}

}



// Button Size Variations
.btn-tiny {
	@include font-size(10);
	@include padding(9px 25px);
	min-width: 130px;
}

.btn-small {
	@include font-size(11);
	@include padding(14px 27.5px);
	letter-spacing: -0.15px;
	min-width: 150px;
}

.btn-primary {
	@include font-size(12);
	@include padding(16px 32.5px);
	letter-spacing: -0.25px;
	min-width: 164px;
}

.btn-large {
	@include font-size(14);
	@include padding(17.5px 40px);
	letter-spacing: -0.5px;
	min-width: 202px;
}


// Two Buttons
.button-group {
	& > a:not(.arrow-text-link) {
		@include margin(0 em($gutter) em(20px));

		@include mappy-bp(small) {
			@include margin(em($gutter) em($gutter/2));
		}
	}
}
