.client-login-page {
	.site-container {
		background-color: $grey5;
	}

	.fc-title-group {
		margin-bottom: em(50);
	}

	.client-login {
		@extend .three-cards;

		.card-container {
			@include padding(em(60) em(50) em(40));

			figure {
				margin-bottom: em(30);

				.svg-card {
					margin-bottom: 0;
				}
			}

			.content-wrap {
				align-items: center;
				display: flex;
				flex-direction: column;

				a:first-child {
					order: -1;
				}
			}

			.heading {
				font-size: rem(28);
				font-weight: $fw-medium;
				margin-bottom: rem(40);
			}

			.button-group {
				margin-bottom: rem(40);
				order: -1;
			}

			.button {
				@include margin(0);
			}

			.entry-content {
				> p {
					font-size: rem(14);
					margin-bottom: rem(20);
					text-align: left;
				}

				address {
					margin-bottom: rem(40);

					> div {
						display: flex;
						margin-bottom: rem(10);

						img {
							margin-right: 1rem;
						}

						a {
							font-size: rem(14);
							font-style: normal;
						}
					}
				}

				.button-group {
					margin-bottom: 0;
					text-align: left;

					a {
						color: $green1;
						padding-left: 0;
					}
				}
			}

			address {
				> p a {
					color: $slate-dark;
					font-style: normal;
					vertical-align: middle;

					> img {
						margin-right: 1em;
						vertical-align: bottom;
					}
				}
			}
		}

	}
}
