// Shades of White
$white: #fff;

// Shades of Green
$green1: #a8ad00;
$green2: #B7BE0F;
$green3: #C1CE20;
$green4: #D0DD27;

$green-text: $green1;
$green-bkrd: $green2;
$green-main: $green3;
$green-bright: $green4;

// Shades of Slate
$slate1: #343F49;
$slate2: #5C6872;
$slate3: #ABB3BE;

$slate-dark: $slate1;
$slate: $slate2;
$slate-light: $slate3;

// Shades of Grey
$grey1: #E6E6E6;
$grey2: #EEEEEE;
$grey3: #EFEFEF;
$grey4: #F4F4F4;
$grey5: #F7F7F7;
$grey6: #A3A9AE;

// Shades of Teal
$teal1: #1EAEB4;

// Shades of Black
$black1: #333;
$black2: #343f49;

// Colors
$blue1: #2483C0;
$red1: #EE552A;
$orange1: #EC8323;


