// Other Sizes
$base-border-radius: 50px;


// Borders
$base-border-color: $grey4;
$base-border: 1px solid $base-border-color;


// Box Shadows
$box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.10);
$menu-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.10);


// Alignment
