.ad-widget {
	@include padding(em(30) em(25));
	background: $teal1;
	text-align: center;

	@include bp(small wide) {
		@include padding(rem(80));
	}

	figure {
		margin-bottom: em(30);
	}

	h4, p {
		color: $white;
	}

	.btn-large {
		min-width: 0;
	}

}


